.lookup-table-popup {
  display: none;
}

/* hack around html5media-created display:block span so video player doesn't
wrap onto the next line */
/*.lookup-table-popup > span {
  display: inline-block !important;
}*/

.lookup-table-popup > .mejs-container {
  display: inline-block;
}

/* Override some jquery theme items. */

.ui-widget {
  font-family: inherit;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0 0.4em;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 0.1em;
}

.ui-dialog .ui-widget-content {
  padding: 0.2em 0 0;
}

.ui-dialog {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7)
}
